black==23.11.0
celery==5.3.6
Django==4.2.8
django-admin-thumbnails==0.2.8
django-cors-headers==4.3.1
django-redis==5.4.0
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
djoser==2.2.2
drf-spectacular==0.26.5
drf-yasg==1.21.7
kombu==5.3.4
Pillow==10.1.0
psycopg2-binary==2.9.9
PyJWT==2.8.0
python-decouple==3.8
redis==5.0.1
twilio==8.11.0
django-filter